## 176. Second Highest Salary

| Column Name | Type |
| :---------- |----: |
| id          | int  |
| salary      | int  |

id is the primary key column for this table.  
Each row of this table contains information about the salary of an employee.  
 

Write an SQL query to report the second highest salary from the Employee table. If there is no second highest salary, the query should report `null`.  

The query result format is in the following example.

```sql
SELECT(
    SELECT DISTICT salary
    FROM employee
    ORDER BY salary DESC
    LIMIT 1 OFFSET 1)
AS secondHighestSalary
```