## 171. Excel Sheet Column Number

Given a string `columnTitle` that represents the column title as appear in an Excel sheet, return its corresponding column number.

For example:

```
A -> 1
B -> 2
C -> 3
...
Z -> 26
AA -> 27
AB -> 28 
...
```

**Example 1:**
```
Input: columnTitle = "A"
Output: 1
```
**Example 2:**
```
Input: columnTitle = "AB"
Output: 28
```
**Example 3:**
```
Input: columnTitle = "ZY"
Output: 701
```

In [1]:
def titleToNumber(columnTitle):
    res = 0
    for ct in columnTitle:
        num = ord(ct) - ord('A') + 1
        res = res*26 + num
    return res

In [2]:
columnTitle = "A"
titleToNumber(columnTitle)

1

In [3]:
columnTitle = "AB"
titleToNumber(columnTitle)

28

In [4]:
columnTitle = "ZY"
titleToNumber(columnTitle)

701